/* ChatBubble.css */

.max-w-70p {
    max-width: 70%;
  }
  
  .self-end {
    align-self: flex-end;
  }
  
  .self-start {
    align-self: flex-start;
  }
  
  .bg-green-500 {
    background-color: #4CAF50;
  }
  
  .bg-blue-500 {
    background-color: #2196F3;
  }
  
  .text-white {
    color: white;
  }
  